/* VARIABLES */
/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  cursor: default;
}

/* UTILITIES */
.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo {
  margin-right: 4rem;
}
header .container .logo a {
  display: block;
}
header .container .logo a img {
  display: block;
  max-width: 80px;
}
header .container .logo a img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out linear;
}
header .container .main-nav ul {
  display: flex;
  list-style: none;
}
header .container .main-nav ul li {
  margin-right: 2rem;
}
header .container .main-nav ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #4f4a47;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  line-height: 112px;
}
header .container .main-nav ul li a:hover {
  color: #0182f9;
  border-bottom-color: currentColor;
}
header .container .main-nav ul li a.active {
  color: #0182f9;
  border-bottom-color: currentColor;
}

/* MAIN */
main {
  margin-top: 112px;
  background-color: #1c1c1c;
  padding: 5rem 0 0;
}
main ul.card-list {
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main ul.card-list li.card {
  width: calc(16.6666666667% - 28px);
  margin: 1.5rem 14px;
}
main ul.card-list li.card a {
  text-decoration: none;
}
main ul.card-list li.card a .cover img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main ul.card-list li.card a .text {
  margin-top: 1rem;
}
main ul.card-list li.card a .text h4 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
}
main div {
  text-align: center;
  margin-bottom: 1rem;
}
main div .button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 4rem;
  background-color: #0182f9;
}
main div .button:hover {
  background-color: #0168c9;
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

/* FOOTER */
footer {
  background-color: #303030;
}
footer::before {
  content: "";
  display: block;
  max-width: 100%;
  height: 1rem;
  background-color: #0182f9;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
}
footer .container a.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
  border: 2px solid #0182f9;
  color: #fff;
  text-decoration: none;
}
footer .container a.button:hover {
  transform: scale(1.1);
}
footer .container ul.useful-links {
  display: flex;
  align-items: center;
  list-style: none;
}
footer .container ul.useful-links li {
  margin-right: 1rem;
}
footer .container ul.useful-links li:first-child {
  margin-right: 3rem;
  font-family: "Roboto Condensed", sans-serif;
}
footer .container ul.useful-links li:first-child a:hover {
  text-decoration: underline;
}
footer .container ul.useful-links li:last-child {
  margin-right: 0;
}
footer .container ul.useful-links li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0182f9;
}
footer .container ul.useful-links li a img:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

/* COMIC-DETAIL */
main {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin-bottom: 0;
}
main .comic-detail {
  color: #fff;
}
main .comic-detail .jumbotron {
  height: 480px;
  border-bottom: 80px solid #0182f9;
  margin: 0;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-position: top center;
}
main .comic-detail .jumbotron .cover.container {
  height: 100%;
  position: relative;
  width: 1024px;
  margin: 0 auto 0;
  display: flex;
  align-items: end;
}
main .comic-detail .jumbotron .cover.container img {
  max-width: 190px;
  border: 1px solid #fff;
  display: inline-block;
  position: absolute;
  bottom: -60px;
}
main .comic-detail .comic {
  padding: 125px 0;
  background-color: #fff;
}
main .comic-detail .comic .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
}
main .comic-detail .comic .container .text {
  width: calc(73% - 40px);
  margin-right: 40px;
  margin-top: 1.3rem;
}
main .comic-detail .comic .container .text .title {
  text-align: left;
  color: #11405e;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1.9rem;
}
main .comic-detail .comic .container .text .wrapper {
  display: flex;
  align-items: center;
  background-color: #55bb58;
  border-bottom: 1px solid #49a14d;
  color: #fff;
}
main .comic-detail .comic .container .text .wrapper .details {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  width: 75%;
  margin: 0;
  border-right: 1px solid #49a14d;
}
main .comic-detail .comic .container .text .wrapper .menu-check {
  width: 25%;
  padding: 0 1.3rem;
  margin: 0;
}
main .comic-detail .comic .container .text .wrapper .menu-check i {
  margin-left: 4px;
  font-size: 0.8rem;
}
main .comic-detail .comic .container .text .description {
  text-align: left;
  color: #606d7e;
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
main .comic-detail .comic .container .adv {
  width: 27%;
}
main .comic-detail .comic .container .adv span {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #5e605f;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
main .comic-detail .comic .container .adv img {
  max-width: 100%;
}