/* MAIN */
main {
    margin-top: 112px;
    background-color: $bg-primary;
    padding: 5rem 0 0;
    ul.card-list {
        margin-bottom: 50px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li.card {
            width: calc(100% / 6 - 28px);
            margin: 1.5rem 14px;
            a {
                text-decoration: none;
                .cover {
                    img {
                        width: 180px;
                        height: 180px;
                        object-fit: cover;
                        object-position: top;
                    }
                }
                .text {
                    margin-top: 1rem;
                    h4 {
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 0.9rem;
                        color: #fff;
                    }
                }
            }
        }
    }
    div.wrap-button {
        text-align: center;
        padding-bottom: 1rem;
        .button {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.8rem 4rem;
            background-color: $theme-col;
            &:hover {
                background-color: $dark-theme-col;
                transform: scale(1.1);
                transition: transform 0.1s ease-in-out;
            }
        }
    }
}